<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="inicio">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Menu semanal</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="pagos">
            <ion-icon name="cash"></ion-icon>
            <ion-label>Pagos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="encuestas">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>Encuestas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="info">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>Información</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>