* {
    font-family: 'Anton', sans-serif;
}

ion-header,
ion-toolbar {
    background-color: #ee701e;
    color: #ffff;
}

ion-card-title {
    font-weight: 300;
    font-size: 16px;
}

ion-card-subtitle {
    font-weight: 30;
    font-size: 14px;
}