<ion-header>
    <ion-toolbar color="tian">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Encuestas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-item class="ion-padding-bottom">
                <ion-avatar slot="start">
                    <img src="../../assets/img-app/icon_1024.png">
                </ion-avatar>
                <ion-label>
                    <h3>Comercializadora Tianguiztli</h3>
                    <p></p>

                </ion-label>
            </ion-item>
            <ion-card-title *ngIf="form.length == 0">Aqui podras votar por los platillos que sean de tu agrado</ion-card-title>
            <ion-card-subtitle *ngIf="form.length == 0">Por el momento no hay encuestas disponibles, cuando se publique alguna te lo notificaremos de inmediato</ion-card-subtitle>
            <ion-card-title *ngIf="form.length > 0">Selección de platillos</ion-card-title>
            <ion-card-subtitle *ngIf="form.length > 0">Nos importa tu opinion por eso te pedimos contestar la siguiente encuesta.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="form.length > 0">
            <ion-list>
                <ion-list-header>
                    <h2>Desayunos</h2>
                </ion-list-header>
                <ion-item *ngFor="let e of desayunos">
                    <ion-label class="ion-text-wrap">
                        <p> {{e.platillo}}</p>
                    </ion-label>
                    <ion-checkbox slot="end" (ionChange)="cambiarRegVotos(e)" [(ngModel)]="e.isSelected"></ion-checkbox>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-list-header>
                    <h2>Comidas</h2>
                </ion-list-header>
                <ion-item *ngFor="let e of comidas">
                    <ion-label class="ion-text-wrap">
                        <p>{{e.platillo}}</p>
                    </ion-label>
                    <ion-checkbox slot="end" (ionChange)="cambiarRegVotos(e)" [(ngModel)]="e.isSelected"></ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-card-content>
        <section class=" full-width " *ngIf="form.length > 0">
            <ion-button expand="full " color="primary" (click)="terminarEncuesta()">Mandar respuesta</ion-button>
        </section>
    </ion-card>

</ion-content>