<ion-app>
    <ion-split-pane contentId="main-content">

        <ion-menu menuId="custom-menu" contentId="main-content" type="overlay" auto-hide="true" (ionWillOpen)="setUserLoggedIn()">
            <ion-content>
                <ion-list class="ion-text-center main-header">
                    <div align="center">
                        <ion-avatar>
                            <img src="../assets/img-app/icon_1024.png">
                        </ion-avatar>
                        <ion-label color="white">
                            Comercializadora Tianguiztli
                            <p>
                                <ion-text>{{nombre}} | {{mail}}</ion-text>
                            </p>
                        </ion-label>
                    </div>
                </ion-list>
                <ion-menu-toggle class="menu-items" [autoHide]="false">
                    <div *ngFor="let page of appPages; let i = index">
                        <ion-item color="tian" class="ion-padding-start" [routerLink]="[page.url]" lines="none" detail="false" routerDirection="root" routerLinkActive="selected">
                            <ion-icon slot="start" [ios]="page.icon+'-sharp'" [md]="page.icon+'-sharp'"></ion-icon>
                            <ion-label>{{page.title}}</ion-label>
                        </ion-item>
                    </div>
                    <ion-footer>
                        <ion-toolbar>
                            <ion-buttons slot="secondary">
                                <ion-button routerLink='/perfil'>
                                    <ion-icon slot="end" name="person-circle"></ion-icon>
                                </ion-button>
                                <ion-button (click)="logOut()">
                                    <ion-icon color="danger" slot="end" name="log-out"></ion-icon>
                                </ion-button>
                            </ion-buttons>
                            <ion-title>Perfil</ion-title>
                        </ion-toolbar>
                    </ion-footer>
                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>