* {
    font-family: 'Righteous', cursive;

}

ion-header,
ion-toolbar {
    background-color: #055052;
    color: #fffffe;
}

ion-content {
    background: rgba(43, 90, 148, 1);
    ion-card {
        color: #2d334a;
        width: 100%;
        //   border-radius: 14px;
        padding: 14px;
        background: #fffffe;
    }
}