* {
    font-family: 'Righteous', cursive;
}

ion-toolbar {
    position: absolute;
  
    top: 0;
    left: 0;
    right: 0;
  
    --background: transparent;
    --color: white;
  }
  
  ion-toolbar ion-button,
  ion-toolbar ion-back-button,
  ion-toolbar ion-menu-button {
    --color: white;
  }
  


.about-header {
    position: relative;
  
    width: 100%;
    height: 30%;
  }
  
  .about-header .about-image {
    position: absolute;
  
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    opacity: 0;
  
    transition: opacity 500ms ease-in-out;
  }
  
.about-header .jumbtron {
    background-image: url(../../assets/img-app/TIANGUIZTLI.png);
    opacity: 1;
  }

ion-header {
 
    ion-toolbar ion-button,
    ion-toolbar ion-back-button,
    ion-toolbar ion-menu-button {
        --color: rgb(19, 18, 18);
    }

    
        
    ion-item {
        --background: linear-gradient(90deg, #ee701e 0%, #ee701e 100%);
        background: linear-gradient(90deg, #eff0f3 0%, #eff0f3 100%);
        //  padding: 0 10px;
        // --border-radius: 0 0 10px 10px;
    }
    ion-toolbar {
        color: rgb(255, 255, 255);
        .bordered {
            --border-radius: 30px;
            --box-shadow: 5px 5px 10px #fffffe, -5px -5px 10px #fffffe;
        }
    }
    ion-item {
        h3 {
            color: #fff;
            font-weight: 300;
            font-size: 15px;
            letter-spacing: 2px
        }
        p {
            color: #fff;
            font-weight: 200;
            font-size: 15px;
            letter-spacing: 2px
        }
        ion-avatar {
            --border-radius: 25%;
            border-style: 4px #000;
        }
    }
}

ion-content {
    --background: #D8E3E7;

    .title-page{
        background-color: #132C33;
        text-align: center;
        color: white;
        label{
            margin-top: 10px;
            font-weight: 200;
            font-size: 30px;
        }
    }
    .slides {
        background: #D8E3E7;
        padding: 4px 10px 5px 10px;
        border-radius: 0 0 28px 28px;
      
    }
    ion-card {
       // border: 5px solid #055052;
        width: 100%;
        border-radius: 14px;
        padding: 14px;
        background: #fffffe;
        ion-card-title {
            font-weight: 300;
            font-size: 16px;
        }
        ion-card-subtitle {
            font-weight: 30;
            font-size: 14px;
        }
        .main {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            background: #ffffff;
            //box-shadow: 7px 7px 20px #9b9ea0, -7px -7px 20px #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 50px;
            }
        }
        .files {
            padding-top: 14px;
        }
    }
    .container {
        padding: 6px 20px;
        color: #000000;
        ion-item {
            --background: #eff0f3;
            padding: 0;
            margin: 14px 0;
            --border-radius: 14px;
            color: #0a0909;
            font-weight: 600;
            ion-icon {
                font-size: 30px;
            }
            ion-label {
                padding: 6px 0;
                h4 {
                    font-weight: 300;
                    font-size: 16px;
                }
                h6 {
                    color: rgba(255, 255, 255, .66);
                }
            }
        }
        h2 {
            padding-bottom: 8px;
        }
    }
}