
<ion-content>
    <ion-header class="ion-no-border">
        <ion-toolbar>
            <ion-buttons  slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button>
                    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div class="about-header">
        <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
        <div class="about-image jumbtron" ></div>
    </div>
    <div class="title-page">
        <label for="">Platillos de la semana</label>
    </div>
    <div class="slides">
       

        <ion-slides [options]="slidesOptions" pager="ture">

            <ion-slide *ngIf="arrayPlatillosL.length> 0">
                <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
                    <ion-fab-button color="ligth">
                        <ion-icon md="add" ios="chevron-up-circle-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top">
                        <ion-fab-button color="light" color="danger">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button color="light" color="secondary">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </ion-fab-button>
                    </ion-fab-list>
                </ion-fab>-->
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Lunes</ion-card-title>
                        <ion-card-subtitle>{{arrayPlatillosL[0].fecha_seguimiento}}</ion-card-subtitle>
                        <div class="main">
                            <img src="../../assets/img-app/dieta.png">
                        </div>
                    </ion-card-header>
                    <ion-card-content class="ion-text-left" *ngFor="let e of arrayPlatillosL">
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 1">Desayuno</ion-card-subtitle>
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 2">Comida</ion-card-subtitle>
                        <ion-card-title class="">
                            {{e.nombre_platillo}}
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide *ngIf="arrayPlatillosM.length > 0">
                <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
                    <ion-fab-button color="ligth">
                        <ion-icon md="add" ios="chevron-up-circle-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top">
                        <ion-fab-button color="light" color="danger">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button color="light" color="secondary">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </ion-fab-button>
                    </ion-fab-list>
                </ion-fab>-->
                <ion-card >
                    <ion-card-header>
                        <ion-card-title>Martes</ion-card-title>
                        <ion-card-subtitle>{{arrayPlatillosM[0].fecha_seguimiento}}</ion-card-subtitle>
                        <div class="main">
                            <img src="../../assets/img-app/dieta.png">
                        </div>
                    </ion-card-header>
                    <ion-card-content class="ion-text-left" *ngFor="let e of arrayPlatillosM">
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 1">Desayuno</ion-card-subtitle>
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 2">Comida</ion-card-subtitle>
                        <ion-card-title class="ion-margin-bottom ">
                            {{e.nombre_platillo}}
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide *ngIf="arrayPlatillosMi.length > 0">
                <ion-fab horizontal="end" vertical="bottom" slot="fixed">
                    <ion-fab-button color="ligth">
                        <ion-icon md="add" ios="chevron-up-circle-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top">
                        <ion-fab-button (click)="likeDishes(arrayPlatillosMi[0].id_menu,'down')" color="danger">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button (click)="likeDishes(arrayPlatillosMi[0].id_menu,'up')" color="secondary">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </ion-fab-button>
                    </ion-fab-list>
                </ion-fab>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Miercoles</ion-card-title>
                        <ion-card-subtitle>{{arrayPlatillosMi[0].fecha_seguimiento}}</ion-card-subtitle>
                        <div class="main">
                            <img src="../../assets/img-app/dieta.png">
                        </div>
                    </ion-card-header>
                    <ion-card-content class="ion-text-left" *ngFor="let e of arrayPlatillosMi">
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 1">Desayuno</ion-card-subtitle>
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 2">Comida</ion-card-subtitle>
                        <ion-card-title class="ion-margin-bottom ">
                            {{e.nombre_platillo}}
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide *ngIf="arrayPlatillosJ.length > 0">
                <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
                    <ion-fab-button color="ligth">
                        <ion-icon md="add" ios="chevron-up-circle-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top">
                        <ion-fab-button color="light" color="danger">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button color="light" color="secondary">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </ion-fab-button>
                    </ion-fab-list>
                </ion-fab>-->
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Jueves</ion-card-title>
                        <ion-card-subtitle>{{arrayPlatillosJ[0].fecha_seguimiento}}</ion-card-subtitle>
                        <div class="main">
                            <img src="../../assets/img-app/dieta.png">
                        </div>
                    </ion-card-header>
                    <ion-card-content class="ion-text-left" *ngFor="let e of arrayPlatillosJ">
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 1">Desayuno</ion-card-subtitle>
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 2">Comida</ion-card-subtitle>
                        <ion-card-title class="ion-margin-bottom ">
                            {{e.nombre_platillo}}
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide *ngIf="arrayPlatillosV.length > 0">
                <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
                    <ion-fab-button color="ligth">
                        <ion-icon md="add" ios="chevron-up-circle-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top">
                        <ion-fab-button color="light" color="danger">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button color="light" color="secondary">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </ion-fab-button>
                    </ion-fab-list>
                </ion-fab>-->
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Viernes</ion-card-title>
                        <ion-card-subtitle>{{arrayPlatillosV[0].fecha_seguimiento}}</ion-card-subtitle>
                        <div class="main">
                            <img src="../../assets/img-app/dieta.png">
                        </div>
                    </ion-card-header>
                    <ion-card-content class="ion-text-left" *ngFor="let e of arrayPlatillosV">
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 1">Desayuno</ion-card-subtitle>
                        <ion-card-subtitle class="ion-text-left" *ngIf="e.tipo == 2">Comida</ion-card-subtitle>
                        <ion-card-title class="ion-margin-bottom ">
                            {{e.nombre_platillo}}
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>

    </div>
</ion-content>