<ion-content>
    <ion-content>
        <div id="header" class="ion-padding-top">
            <label for=""><h2>Comercializadora Tianguiztli</h2></label>
            <img src="../../assets/img-app/icon_1024.png" />
        </div>

        <form id="form">
            <ion-item class="ion-margin-bottom">
                <ion-label position="">Correo empresarial:</ion-label>
                <ion-input type="text" #email></ion-input>
            </ion-item>
            <ion-item class="ion-margin-bottom">
                <ion-label position="">Contraseña:</ion-label>
                <ion-input type="text" #pass></ion-input>
            </ion-item>

            <ion-button color="tian" expand="block" shape="round" (click)="login(email,pass)">Iniciar sesión</ion-button>
        </form>
    </ion-content>

</ion-content>