* {
    font-family: 'Righteous', cursive;
}



ion-content {
    --background: #E8F0F2;
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-weight: 800;
            font-size: 20px;
            color: #141212;
            margin-bottom: 5%;
        }
        img {
            width: 205px;
            height: 205px;
        }
    }
    #form {
        margin-top: 10%;
        padding-left: 30px;
        padding-right: 30px;
        ion-button {
            background-color: #053742;
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 10px;
            box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
            --box-shadow: none;
        }
        ion-item {
            border-radius: 10px;
            ion-label {
                font-family: 'Righteous', cursive;

                font-size: 15px;
            }
            ion-input {
    font-family: 'Righteous', cursive;

                color: #000000;
            }
        }
    }
}